FlowPicklistSync/flows/Picklist_Choice_Sample-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>getPicklValues</name>
        <label>getPicklValues</label>
        <locationX>309</locationX>
        <locationY>27</locationY>
        <apexClass>ManagePicklistsForFlow</apexClass>
        <connector>
            <targetReference>showAccountPicklists</targetReference>
        </connector>
        <inputParameters>
            <name>FieldAPIName</name>
            <value>
                <elementReference>vaFieldName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ObjectAPIName</name>
            <value>
                <elementReference>vaObjectName</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>getPicklValues_0</name>
        <label>getPicklValues</label>
        <locationX>319</locationX>
        <locationY>317</locationY>
        <apexClass>ManagePicklistsForFlow</apexClass>
        <connector>
            <targetReference>showLeadPicklists</targetReference>
        </connector>
        <inputParameters>
            <name>FieldAPIName</name>
            <value>
                <elementReference>vaFieldName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ObjectAPIName</name>
            <value>
                <elementReference>vaObjectName</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <assignments>
        <name>getPicklistsforLead</name>
        <label>getPicklistsforLead</label>
        <locationX>589</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>vaFieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPicklValues_0</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>dnGetPicklists</name>
        <dataType>String</dataType>
        <displayField>PickListLabel__c</displayField>
        <filters>
            <field>ObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaObjectName</elementReference>
            </value>
        </filters>
        <filters>
            <field>PicklistFieldName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaFieldName</elementReference>
            </value>
        </filters>
        <object>PicklistForFlow__c</object>
        <valueField>PickListValue__c</valueField>
    </dynamicChoiceSets>
    <label>Picklist Choice Sample</label>
    <screens>
        <name>showAccountPicklists</name>
        <label>showAccountPicklists</label>
        <locationX>312</locationX>
        <locationY>163</locationY>
        <connector>
            <targetReference>getPicklistsforLead</targetReference>
        </connector>
        <fields>
            <name>Pick_Industry</name>
            <choiceReferences>dnGetPicklists</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick Industry</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>showLeadPicklists</name>
        <label>showLeadPicklists</label>
        <locationX>322</locationX>
        <locationY>453</locationY>
        <fields>
            <name>Pick_Status</name>
            <choiceReferences>dnGetPicklists</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>getPicklValues</startElementReference>
    <variables>
        <name>vaFieldName</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Industry</stringValue>
        </value>
    </variables>
    <variables>
        <name>vaObjectName</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </variables>
</Flow>
